%link{:href => "stylesheets/base.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/skeleton.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/layout.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/flexslider.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/prettyPhoto.css", :rel => "stylesheet"}/
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
%script{:src => "js/jquery.flexslider-min.js"}
%script{:src => "js/scripts.js"}
= content_for(:title, "Home")

- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"
.content
.container
  .sixteen.columns
    .flex-container
      .flexslider
        %ul.slides
          %li
            %a{:href => "#"}
              %img.scale-with-grid{:alt => "Random Penguin Photo", :src => "/uploads/sliderimages/better_slide1.jpg"}/
            .flex-caption
              %h5
                %a{:href => "#"} Fully Responsive
              %p Icebrrrg adapts to any screen size to optimize your user's experience.
          %li
            %a{:href => "#"}
              %img.scale-with-grid{:alt => "Random Penguin Photo", :src => "/uploads/sliderimages/better_slide2.jpg"}/
            .flex-caption{:style => "display:none;"}
              %h5
                %a{:href => "#"} Multiple layouts
              %p Easily create multiple different layouts with the simple grid setup - one column, two column, three column, more.
          %li
            %a{:href => "#"}
              %img.scale-with-grid{:alt => "Random Penguin Photo", :src => "/uploads/sliderimages/better_slide3.jpg"}/
            .flex-caption{:style => "display:none;"}
              %h5
                %a{:href => "#"} Contact form
              %p Not a developer? No problem. Icebrrrg comes complete with a PHP contact form ready to rock.
.welcome
  %h1 Welcome to Dr. Dunbar website
  %p Page under construction. Please return in a few weeks
