= content_for(:title, "Home")
:javascript
  $( $.fn.cycle.defaults.autoSelector ).cycle();
    
- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

#home    
  .cycle-slideshow{"data-cycle-fx" => "scrollHorz", "data-cycle-timeout" => "2000"}
    -@sliderImages.each.with_index do |slider_image, index|
      = image_tag(slider_image.slider_image_picture)
  .welcome    
    %h1 Welcome to Dr. Dunbar website
    %p Page under construction. Please return in a few weeks
:javascript
  $( "#home" ).click(function() {
    $( $.fn.cycle.defaults.autoSelector ).cycle();
  });
