= content_for(:title, "Edit News")
- if logged_in? && current_user_admin?
  .row
    %h1 Edit News
    #edit-news-form.edit-news-form
      = form_tag announcement_path(@announcement), :method => :put do
        = text_area_tag :content, @announcement.content, :class => 'entry', :placeholder => 'News Content', :required => true
        
        = submit_tag 'Update News', :id => 'edit-news-form-button'
- else
  %p Only users with privileges can edit publications.
