= content_for(:title, "Add News")
- if logged_in? && current_user_admin?
  .row
    %h1 Add News
    #new-news-form.new-news-form
      = form_tag({action: :create}, multipart: true) do
        = text_area_tag :content, nil, :class => 'entry', :placeholder => 'News content', :required => true
        
        = submit_tag 'Add News', :id => 'new-news-form-button'

- else
  %p Only users with privileges can add new publications.
