.account-activation-form .form-control {
  width: 382px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.account-activation-form #account-activation-button {
  width: 100%;
  height: 30px;
}
