/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-Italic.ttf");
  font-style: italic, oblique;
}
 
@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  font-family: /* "Liberation Sans" ,*/ Arial, sans-serif;
}

body .container {
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}

.row h1, .large-row h1, .largest-row h1 {
  display: table;
  margin: 0 auto;
  padding-bottom: 40px;
}

.largest-row {
  width: 980px;
}

.flash_danger {
  display: table;
  margin: 0 auto;
  color: #ff0000;  
}

.flash_info {
  display: table;
  margin: 0 auto;
  color: #003366
}

.nav-top {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.nav-top li {
  display: inline;
}

.nav-top li a {
  border-bottom: 3px solid #FFFFFF;
  transition: border-bottom 0.3s ease-out;
}

.nav-top li a:hover {
  border-bottom: 3px solid #500000;
}

.nav-top li a {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  padding: 15px 25px;
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  color: #222222;
}

a:hover, a:active {
  text-decoration: none;
  color: #500000;
}

