/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-Italic.ttf");
  font-style: italic, oblique;
}
 
@font-face {
  font-family: "Liberation Sans";
  src: url("fonts/LiberationSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}

html, body {
  font-family: /* "Liberation Sans" ,*/ Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
	padding: 0;
	bottom: 0;
	top: 0;
}

.content .row {
  width: 400px;
}

.content .large-row {
  width: 500px;
}

.content .largest-row {
  width: 980px;
}

.content h1 {
  display: table;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main {
  min-height: 100%;
  margin-bottom: -310px;
}

.main:after {
  content: "";
  display: block;
  height: 310px;
}

.flash_danger,
.flash_info {
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.flash_danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flash_info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

footer {
  color: white;
  text-align: center;
  position: relative;
  background: #4E4B46;
}

body .nav, body .content {
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}

.row h1, .large-row h1, .largest-row h1 {
  display: table;
  margin: 0 auto;
  padding-bottom: 40px;
}

.nav-top {
  margin: 0px;
  width: 980px;
  padding: 0px;
  list-style-type: none;
  background-color: #292c2f;
}

.nav-items {
  display: table;
  margin: 0 auto;
}

.nav-top li {
  display: inline;
}

.nav-top li a {
  color: white;
  border-bottom: 3px solid #292c2f;
  transition: color 0.5s ease-out;
  transition: border-bottom 0.5s ease-out;
}

.nav-top li a:hover {
  color: #FFF056;
  border-bottom: 3px solid #FFF056;
}

.nav-top li a {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  padding: 15px 25px;
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  color: #222222;
}

a:hover, a:active {
  text-decoration: none;
  color: #666666;
}

/* css for the slider*/
.slide{
		background-color: #228FC4;
		width:100%;
		height: auto;
		border:4px solid gray;
		vertical-align: middle;
	}
	.slide:before{
		content:"";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
	.slide1 p, .slide1 img.slide1img  {
		margin-right: 1em;
		display: inline-block;
	}
		.slide2 p, .slide1 img.slide2img  {
		margin-right: 1em;
		display: inline-block;
	}
	.innerWrapper{
/*		margin:0 auto;
		width:90%;
		border:#fff 4px solid ;
		vertical-align: middle;*/
		/*display: inline-block;*/
		display: inline-block;
		vertical-align: middle;
		width: 90%;
		border-left:10px solid white;
		border-right:10px solid white;
		margin-left: 20px;
		padding: 10px;
		/*padding: 55px 0 0 40px;*/
		text-align: center;
		/*height: 280px;*/
	}
	.slide1text{
		vertical-align: top;
		width: 30%;
		text-align: left;
		font-size: 1.4em;
		color: black;
	}
	.slide2text{
		/*vertical-align: top;*/
		right: 0px;
		/*margin-left: 2em;*/
		width: 100%;
	}
	.button{
		display: inline-block;
		/*margin-left: 10em;*/
		text-decoration: none;
		color: black;
		font-family: arial;
		background-color: yellow;
		padding: 10px;
		border-radius: 5px;

	}
	.outerWrapper{
		/*border-right:5px solid white;*/
	}
	.box1,.box2{
		width:300px;
		height: 300px;
		background-color: green;
		padding: 50px;
	}
	.box2{
		background-color: blue;
	}
div .cycle-overlay { 
    color: white; background: black; opacity: .3; filter:alpha(opacity=60);
    position: absolute; bottom: 0; width: 100%; padding: 15px;
}
div .cycle-caption{
    color: white; background: red; opacity: .3; filter:alpha(opacity=60);
    position: absolute; bottom: 0; width: 100%; padding: 15px;	
}
