/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Arial, sans-serif;
}

body .container {
  display: table;
  margin: 0 auto;
  padding-top: 50px
}

body .container h1, body .container p {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}

.flash_danger {
  display: table;
  margin: 0 auto;
  color: #ff0000;  
}

.flash_info {
  display: table;
  margin: 0 auto;
  color: #003366
}

.nav-top {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.nav-top li {
  display: inline;
}

.nav-top li a {
  display: inline-block;
  font-size: 20px;
  padding: 15px 25px;
  text-decoration: none;
}

.nav-top li a:link, .nav-top li a:visited {
  color: #222222;
}

.nav-top li a:hover, .nav-top li a:active {
  color: #666666;
}

