.courses-list {
  margin-bottom: 30px;
}

.course-info * {
  vertical-align: middle;
}

.course-info {
  font-size: 18px;
  margin-bottom: 5px;
}

.largest-row .course-files-content {
  font-size: 20px;
}

.course-files-content .course-files-item {
  margin-bottom: 20px;
}

.course-files-content h4 {
  margin-bottom: 10px;
}
