footer {
  color: white;
  text-align: center;
  position: relative;
  background: #4E4B46;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 0px;
	margin-top: 20px;
}

.footer-distributed .footer-left {
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-right {
	display: inline-block;
	transform: translateY(50%);
}

.footer-distributed .footer-left, 
.footer-distributed .footer-right {
	width: calc(50% - 3px);
}

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-left i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-left .info-group-item,
.footer-distributed .footer-right a {
	display: table;
	margin: 0 auto;
}

.footer-distributed .footer-left .info-group-item {
	padding-left: calc(20%);
}

.footer-distributed .footer-right a {
	padding-right: calc(20%);
}

.footer-distributed .footer-left i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-left p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-left p span{
	display:block;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
}

.footer-distributed .footer-left p a{
	color: #FFF056;
	text-decoration: none;
}


/* Footer Right */
.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 1100px) {
	
	.footer-distributed p,
	.footer-distributed .footer-left p span{
		display: block;
		font-weight: bold;
		font-size: 16pt;
		line-height: 1.5;
	}
	
	.footer-distributed .footer-right {
		display: inline-block;
		transform: none;
	}

	
	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	
	.footer-distributed .footer-left i {
		margin-left: 0;
	}
	
	.footer-distributed .footer-left .info-group-item {
		padding-left: 0px;
	}
	
	.footer-distributed .footer-right a {
		padding-right: 0px;
	}

}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-left i {
		margin-left: 0;
	}

}
