.group-info-list {
  margin-bottom: 30px;
}

.group-info-category ul,
.group-info-category li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group-info-category li a {
  display: block;
  position: relative;
  padding: 20px 5px;
  font: normal 12pt;
  border-bottom: 1px solid #FFF;
}

.group-info-category li:hover,
.group-info-category li.active {
  background: #e0e0e0;
}

.group-info * {
  vertical-align: middle;
}

.group-info {
  font-size: 18px;
  margin-bottom: 5px;
}

.new-group-info-form .entry, .edit-group-info-form .entry {
  width: 382px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px
}

#category-selector {
  width: 100%;
}

#group-info-form-button {
  width: 100%;
  height: 30px;
}

#add-group-info {
  font-size: 20px;
  text-decoration: none;
  display: table;
  margin: 0 auto;
}

.group-info-config-container {
  display: table;
  margin-bottom: 20px;
}

.group-info-config {
  display: table-row;
}

.group-info-config * {
  display: table-cell;
  vertical-align: middle;
}

.group-info-config label {
  padding-right: 5px;
}
