.homepage-content {
  display: block;
}

.homepage-content .news,
.homepage-content .news h4 {
  margin: 0 auto;
  display: table;
}

.homepage-content .news h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.homepage-content .news-item {
  margin-bottom: 30px;
}