.details {
  margin-top: 40px;
  width: 800px;
  display: table;
}

.details .section {
  margin-bottom: 30px;
  display: table-row;
}

#personal_info {
  display: table;
  margin: 0 auto;
}

.details #info {
  vertical-align: middle;
  display: table-cell;
}

#profile-actions {
  margin: 0 auto;
  display: table;
}

#profile-actions a {
  display: inline-block;
  display: -moz-inline-block;
}

.details #picture-cv {
  display: table-cell;
  padding-right: 50px;
}

.details #picture-cv #avatar {
  margin: 0 auto;
  display: table;
  border-radius: 50%;
}

.member-picture img {
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.member-picture img:hover {
  opacity: 0.6;
}

.details h2, .details h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #222222;
}

.details p {
  margin: 5px 0px 5px 0px
}

.new-member-form .entry, .edit-member-form .entry {
  display: block;
  width: 382px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

input[type='file'].entry {
  margin-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.config {
  display: table;
  margin-bottom: 20px;
}

.former_members_list {
  margin-bottom: 30px;
}

.former_member * {
    vertical-align: middle;
}

.former_member {
  font-size: 18px;
  margin-bottom: 5px;
}

.former_member a {
  text-decoration: none;
  color: #500000 !important;
}

.member-config {
  display: table-row;
}

.member-config * {
  display: table-cell;
}

.member-config label {
  padding-right: 10px;
  padding-bottom: 5px;
}

.new-member-form textarea.entry, .edit-member-form textarea.entry {
  width: 382px;
  height: 100px;
  resize: none;
}

.member_grid {
  font-size: 0;
}

.member {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 50px;
  width: calc(25% - 6px);
  margin-right: 8px;
}

.member:nth-of-type(2n) {
  margin-right: 8px;
}

.member:nth-of-type(4n) {
  margin-right: 0;
}

.member a {
  display: block;
}

.member .avatar {
  display: table;
  margin: 0 auto;
}

.member .caption a, #add_member a, .details a {
  font-size: 16px;
  text-decoration: none;
  display: table;
  margin: 0 auto;
}

#add_member a {
  font-size: 20px;
}

#member_form_button {
  width: 100%;
  height: 30px;
}

.member .caption a {
  color: #500000;
}

#people-page-button {
  margin-top: 30px;
}
