.news-list .news-item {
  margin-bottom: 20px;
}

.news .news-item > * {
  display: block;
}

.news .news-item .news-content {
  margin-top: 5px;
}

.news .news-item .news-date * {
  font-size: 10pt;
  margin-top: 5px;
}

#add-announcement {
  font-size: 16px;
  margin: 0 auto;
  display: table;
}

.new-news-form .entry, .edit-news-form .entry {
  display: block;
  width: 382px;
  height: 300px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
  resize: none;
}

#new-news-form-button, #edit-news-form-button {
  width: 100%;
  height: 30px;
}

.news .more-news {
  margin: 0 auto;
  display: table;
}