// Place all the styles related to the publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  margin-left:auto; 
  margin-right:auto;
}

table .content {
  text-align: left;
  width:650px;
}

table .image {
  height: auto; 
  width: auto;
  /*max-height: 200px;
  max-width: 250px;
  */
  text-align: center;
}
 .publication_list {
   float: center;
 }
 
 .publication{
   float: center;
 }
 
 .publication_picture{
   float: left;
   height: 25px;
   width: 300px;
   padding: 10px;
 }
 
 .publication_information{
   float: right;
   height: 200px;
   width: 400px;
   padding: 10px;
   text-align: justify;
   text-justify: inter-word;
 }
 
 span {
  display: table-cell;
  vertical-align: middle;
}
 
 
