// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-research-form .entry, .edit-research-form .entry {
  width: 482px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.new-research-form #research-form-button, .edit-research-form #edit-research-form-button {
  width: 100%;
  height: 30px;
}

.new-research-form textarea.entry, .edit-research-form textarea.entry {
  width: 482px;
  height: 100px;
  resize: none;
}

.research-content {
  display: table-row;
}

.research-list {
  margin: 0 auto;
  display: table;
}

.research-item {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 8px);
  margin-right: 8px;
}

.research-item:nth-of-type(2n) {
  margin-right: 0;
}

.research-item .title,
.research-item .delete-research {
  display: table;
  margin: 0 auto;
}

.research-item .title img {
  padding-top: 20px;
  max-width: 400px;
}

.research-item .title a {
  display: table;
  margin: 0 auto;
}

.research-item .title a:hover {
  color: #222222;
}

.research-item .title h2 {
  margin-bottom: 0px;
}

.research-item .title {
  opacity: 1.0;
  transition: opacity 0.4s ease-out;
}

.research-item .title:hover {
  opacity: 0.5;
}

.research-item .delete-research {
  padding-left: 10px;
}

#add-research-btn {
  margin-top: 30px !important;
  font-size: 20px;
  display: table;
  margin: 0 auto;
}

.edit-delete-research {
  display: table;
  margin: 0 auto;
}

.edit-delete-research #delete-research-btn {
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .research-item {
    width: 90%;
  }
  
  .research-item .title img {
    padding-top: 20px;
    max-width: 500px;
  }
  
  .research-item .title h2,
  .research-content h2 {
    font-size: 24pt;
  }
  
  .research-content h3 {
    font-size: 22pt;
  }
  
  .research-content p {
    font-size: 20pt;
  }
}