// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-research-form .entry, .edit-research-form .entry {
  width: 482px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.new-research-form #research-form-button, .edit-research-form #edit-research-form-button {
  width: 100%;
  height: 30px;
}

.new-research-form textarea.entry, .edit-research-form textarea.entry {
  width: 482px;
  height: 100px;
  resize: none;
}

.research-content {
  display: table-row;
}

.research-list {
  margin: 0 auto;
  display: table;
}

.research-item {
  display: table-row;
  height: auto;
}

#add-research-btn {
  margin-top: 30px !important;
  font-size: 20px;
  display: table;
  margin: 0 auto;
}

#edit-research-btn {
  font-size: 20px;
  display: table;
  margin: 0 auto;
}
