// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form input {
  width: 382px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.login-form a {
  margin: 0 auto;
  display: table;
  margin-top: 30px;
  font-size: 15px;
  text-decoration: none;
}

#login-form-button {
  width: 100%;
  height: 35px;
  display: inline-block;
  display: moz-inline-box;
  border: none;
  font-size: 16px;
  color: #191919;
  background-color: #FFF056;
  padding: 10px 80px;
  text-decoration: none;
  opacity: 1.0;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}

#login-form-button:hover, #login-form-button:active {
  display: inline-block;
  height: 35px;
  width: 100%;
  display: moz-inline-box;
  font-size: 16px;
  font-style: normal;
  opacity: 0.7;
  padding: 10px 80px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}