.cycle-slideshow.slider {
  height: 420px;
}

.homepage-content .box-btn a:link, .homepage-content .box-btn a:visited {
  display: inline-block;
  display: moz-inline-box;
  font-size: 16px;
  color: #191919;
  background-color: #E6A811;
  padding: 10px 80px;
  text-decoration: none;
  opacity: 1.0;
  transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
}

.homepage-content .box-btn a:hover, .homepage-content .box-btn a:active {
  font-style: normal;
  background-color: #E6C34E;
}

.homepage-content .manage-slides {
  margin: 0 auto;
  display: table;
}

.slider-image-list {
  margin: 0 auto;
  display: table;
}

.slider-image-list .slider-image-item {
  display: table-row;
  height: auto;
}

.slider-image-list .slider-image,
.slider-image-list .slider-title,
.slider-image-list .slider-edit-delete {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 10px;
}

.slider-content-wrapper .slider-title p {
  margin-bottom: 50px;
  font-size: 18pt;
  font-weight: bold;
}

.slider-content-wrapper .slider-content p {
  font-size: 16pt;
}

img.slide1img {
  height: 400px;
}

.slider-image-list .slider-edit-delete {
  padding-left: 5px;
}

.new-slider_image-form .entry, .edit-slider_image-form .entry {
  width: 382px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.new-slider_image-form textarea.entry, .edit-slider_image-form textarea.entry {
  width: 382px;
  height: 150px;
  resize: none;
}

#slider_image-form-button, #slider_image_form_button {
  width: 100%;
  height: 30px;
}

#add_slider_image {
  margin: 0 auto;
  display: table;
}

.homepage-content .slider-table {
  display: table;
  margin: 0 auto;
}

.homepage-content .slider-table .slider-row,
.homepage-content .slider-table .slider-content-wrapper,
.homepage-content .slider-table .slider-title,
.homepage-content .slider-table .slider-content,
.homepage-content .slider-table .box-btn{
  vertical-align: middle;
}

.homepage-content .slider-row {
  display: table-row;
}
.homepage-content .slider-image,
.homepage-content .slider-content-wrapper {
  display: table-cell;
  width: 50%;
}

.slider-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 65px; width: 20px; height: 20px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}

@media screen and (max-width: 1200px) {
  
  .slider-row .slider-image img {
    height: 400px;
  }
  
  .cycle-slideshow.slider {
    height: 450px;
  }
  
  .cycle-pager { 
    display: none;
}
  
  .homepage-content .box-btn a:link, .homepage-content .box-btn a:visited {
    font-size: 18pt;
    padding: 20px 70px;
  }
  
  .slider-content-wrapper .slider-title p {
    margin-bottom: 10px;
    font-size: 16pt;
  }
  
  .homepage-content .slider-content-wrapper p {
    font-size: 16pt;
  }
  
}

@media screen and (max-width: 1100px) {
  .cycle-pager span { 
      font-family: arial; font-size: 200px; width: 50px; height: 16px; 
      display: inline-block; color: #ddd; cursor: pointer; 
  }
  
  .slider-row .slider-image img {
    height: 300px;
  }
  
  .cycle-slideshow.slider {
    height: 400px;
  }
}

